*{
    margin: 0;
    padding: 0;
}

body{
    color:white;
    max-width: 100vh;
    .title1{
        text-align: center;
    }
    form{
        border: solid red;
        padding: 0.3em;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        
        input{
            
            border-radius: 0.5em;
            padding-left: 0.5em;
            padding-top: 0.5em;
            padding-bottom: 0.5em;
        }
        
        *{
            width: 13vh;
        }
    }
    background-color: black;
    
    
}
.span-3{
    grid-column: span 3;
    width: 40vh;
}

.notes{
    color:white;
    
    
    .note{
        display: flex;
        flex-direction: column;
        padding: 1em;
        border:solid red;
        gap:0;
    }

    .title{
        font-size: 1.2rem;

    }
    .description{
        font-size: 0.9rem;

    }
    div{
        display: flex;
        gap:1em;
        
    }
}